# Tandoor CLI configuration (optional)
# Only needed if you want to use .env files instead of `tandoor configure`
# 
# TANDOOR_URL=http://localhost:8050
# TANDOOR_API_TOKEN=your_oauth2_token_here
#
# Note: If you set TANDOOR_URL here, you MUST also set TANDOOR_API_TOKEN
# Otherwise, the config file (~/.config/tandoor-cli/config.json) will not be used
